*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.barra{
    width: 10px;
    height: 100px;
    background: #000;
    margin: 0 auto;
}

.semaforo{
    width: 100px;
    height: 250px;
    background: #000;
    margin: 0 auto;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.3s;
}

.red { background-color: red; }
.yellow { background-color: orange; }
.green { background-color: green; }

.light.active {
    opacity: 1;
    box-shadow: 0 0 25px 8px currentColor;
}
