*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.barra{
    width: 10px;
    height: 100px;
    background: #000;
    margin: 0 auto;
}

.semaforo{
    width: 100px;
    height: 250px;
    background: #000;
    margin: 0 auto;
    border-radius: 10px;
}

.luces{
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
}

.luz-verde{
    background-color: green;
    top: 20px;
}

.luz-amarilla{
    background-color: yellow;
    top: 35px;
    
}

.luz-roja{
    background-color: red;
    top: 55px;
}

.luces.active {
    opacity: 1;
    box-shadow: 0 0 20px white;
}

.light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px auto;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.3s;
}

.red { background-color: red; }
.yellow { background-color: orange; } /* o yellow si prefieres */
.green { background-color: green; }

.light.active {
    opacity: 1;
    box-shadow: 0 0 25px 5px currentColor;
}

